<footer class="site-footer">
  <div class="container">
    <p>&copy; <%= new Date().getFullYear() %> Venture Creations. All rights reserved.</p>
    <p class="tagline">Creating shirts to support all of life's ventures.</p>
  </div>
</footer>