<header class="site-header">
  <div class="container">
    <h1 class="logo"><a href="/">Venture Creations</a></h1>
    <nav class="main-nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/shop">Shop</a></li>
        <li><a href="/contact">Contact</a></li>

        <% if (user) { %>
          <span>Welcome, <%= user.name %>!</span>
          <% if (user.role === "Admin") { %>
            <a href="/admin">Admin Panel</a>
          <% } %>
          <a href="/auth/logout">Logout</a>
        <% } else { %>
          <a href="/auth/google">Login</a>
        <% } %>


        <a href="/cart" class="cart-icon">
            🛒
            <% if (cart && cart.length > 0) { %>
                <span class="cart-count"><%= cart.reduce((sum, item) => sum + item.quantity, 0) %></span>
            <% } %>
        </a>
      </ul>
    </nav>
  </div>
</header>
