<%- include("../partials/header") %>

<div class="register-container">
  <h1>Create Your Account</h1>
  <p>We use Google to securely log you in and register your account.</p>
  <a href="/auth/google" class="btn btn-google">Register with Google</a>
</div>

<%- include("../partials/footer") %>