<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>All Products | Admin</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <%- include("../partials/header") %>

    <section class="register-section">
    <div class="register-box">
        <h2>Create Your Account</h2>
        <p>We use Google to securely register and log you in. No password required.</p>
        <a href="/auth/google" class="google-btn">Register with Google</a>
    </div>
    </section>

    <%- include("../partials/footer") %>

</body>
</html>
